<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="publicHTML :: head(~{::title})">
    <title>修改密码</title>
</head>

<body class="form-membership">


<div class="form-wrapper">

    <!-- logo -->
    <div id="logo">
        <img class="logo" th:src="@{/img/logo/logo.png}" alt="image">
    </div>
    <!-- ./ logo -->

    <h5>输入你的新密码</h5>

    <!-- form -->
    <form action="/changePassword">
        <div class="form-group d-flex align-items-center">
            <div class="mr-3">
                <figure class="mb-4 avatar avatar-sm">
                    <img th:src="${session.user.picture}" class="rounded-circle" alt="avatar">
                </figure>
            </div>
            <input type="password" name="password" class="form-control" placeholder="Password" required autofocus>
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="确认修改"></input>
        <hr>
    </form>
    <!-- ./ form -->

</div>


<th:block th:replace="publicHTML :: script"/>
</body>

</html>