<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="publicHTML :: head(~{::title})">
    <title>搜索结果</title>
</head>
<body>

<div class="navigation" th:replace="publicHTML :: left-form(6)"/>

<!-- begin::main -->
<div id="main">

    <!-- begin::header -->
    <div th:replace="publicHTML :: top"/>
    <!-- end::header -->

    <!-- begin::main-content -->
    <main class="main-content">

        <div>

            <div class="row">
                <div class="col-md-12">

                    <div class="card app-content-body">
                        <div class="card-body">

                            <h6 class="font-size-11 text-uppercase mb-4">我的文件</h6>

                            <div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">文件名</th>
                                        <th scope="col">大小</th>
                                        <th scope="col">所在路径</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="file,fileState : ${pageCfiles.list}">
                                        <th th:text="${fileState.index+1}">1</th>
                                        <td th:text="${file.file_name}">Mark</td>
                                        <td th:text="${file.file_size}">Otto</td>
                                        <td th:text="${file.show_position}">@mdo</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <br>
                            <hr>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-5">当前第<span th:text="${pageCfiles.pageNum}"></span>页,总 <span th:text="${pageCfiles.pages}"></span> 页,共找到<span th:text="${pageCfiles.total}"></span>个文件</div>
                                <div class="col-md-4">
                                    <a class="btn btn-outline-secondary" th:href="@{/searchMyself(search=${search})}">首页</a>
                                    <a class="btn btn-outline-secondary" th:href="@{/searchMyself(search=${search},pageNum=${pageCfiles.hasPreviousPage}?${pageCfiles.prePage}:1)}">上一页</a>
                                    <a class="btn btn-outline-secondary" th:href="@{/searchMyself(search=${search},pageNum=${pageCfiles.hasNextPage}?${pageCfiles.nextPage}:${pageCfiles.pages})}">下一页</a>
                                    <a class="btn btn-outline-secondary" th:href="@{/searchMyself(search=${search},pageNum=${pageCfiles.pages})}">尾页</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </main>
    <!-- end::main-content -->


</div>
<!-- end::main -->

<th:block th:replace="publicHTML :: script"/>

<script>
    function downloadFile(data) {
        fid = $(data).attr("data-fid");
        window.open("/download?fid="+ fid,"_self");
    }
</script>
</body>
</html>