<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>成功</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/media/image/favicon.png" th:href="@{/assets/media/image/favicon.png}" />

    <!-- Plugin styles -->
    <link rel="stylesheet" href="vendors/bundle.css" th:href="@{/vendors/bundle.css}" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="assets/css/app.min.css" th:href="@{/assets/css/app.min.css}" type="text/css">
    <link rel="icon" href="title.ico" th:href="@{/img/logo/logo-sm.png}" type="image/x-icon"/>
</head>
<body class="error-page bg-white">
<div>
    <h4 class="mb-0 text-muted font-weight-normal">分享成功</h4>
    <div>
        <span class="error-page-item font-weight-bold">谢</span>
        <span class="error-page-item font-weight-bold">谢</span>
        <span class="error-page-item font-weight-bold">分</span>
        <span class="error-page-item font-weight-bold">享</span>
    </div>
    <a href="/index" class="btn btn-outline-light btn-lg">返回</a>
</div>

<!-- Plugin scripts -->
<script src="vendors/bundle.js" th:src="@{/vendors/bundle.js}"></script>

<!-- App scripts -->
<script src="assets/js/app.min.js" th:src="@{/assets/js/app.min.js}"></script>
</body>
</html>